*{
  margin: 0;
  padding: 0;
}

.app {
 display: grid;
 grid-template-rows: 10vh 70vh 10vh;
}

nav {
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 1;
  text-align: left;
}
